body {
  background: #222;
  background: radial-gradient(#333, #111);
  background-size: cover;
  color: #fff;
  font: 100%/1.5 sans-serif;
  overflow: hidden;

}

.game-arena {
  position: relative;
  margin: 10% auto;
  width: 600px;
  height: 600px;
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0.15);
}

.snake {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 2;
}
.snake:last-child {
  background-color: white;
}

ul{
  list-style: none;
}

.food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: red;
  border: 1px solid #fff;
  z-index: 1;
}
